#content {
  .subscription-wrapper {
    margin-bottom: 25px;
    width: 100%;

    table.subscription-summary {
      width: 100%;

      tbody {
        td {
          text-align: center;

          .product-name {
            font-weight: bold;
          }
        }
      }
    }
  }
}